{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{detailed_post.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog site</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/googlefontapi.css' %}" />
    <link href="{% static 'css/google_font_api_main.css' %}" rel="stylesheet">
    <style>
      h1 a
      {
        text-decoration: none;
      }

      h1 a:hover
      {
        text-decoration: underline;
      }
      p
      {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid nav navbar">
         <h1 class="container"><a href="/">Personal Blog</a></h1>
         <!-- Hello{{user.username}} -->

         {% if user.is_authenticated %}
         
         <div class="containter">
          <a href="/blog_add/" class="top-menu">            
            <span class="material-symbols-outlined">
              add
              </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/drafts-list/">
              <span class="material-symbols-outlined">
                drafts
                </span>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;

              <a href=""><span class="material-symbols-outlined">
                logout
                </span>
              </a>
                {% else %}
                <a href="">          
                    <span class="material-symbols-outlined">
                        login                     
                    </span>
                  </a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         </div>      
        {% endif %}    
    </div>



    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>