{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog site</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/googlefontapi.css' %}" />
    <link href="{% static 'css/google_font_api_main.css' %}" rel="stylesheet">
    <style>
      h1 a
      {
        text-decoration: none;
      }

      h1 a:hover
      {
        text-decoration: underline;
      }
      p
      {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid nav navbar">
         <h1 class="container"><a href="/">Personal Blog</a>
          <a href="/blog_add/" class="top-menu">
            <span class="material-symbols-outlined">
              add
              </span></a>
              <a href="">
              <span class="material-symbols-outlined">
                drafts
                </span>
              </a>
              <a href="">          
          <span class="material-symbols-outlined">
            login                     
          </span>
        </a>
       </h1>
       
       
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                {% block content %}
                {% endblock %}
            </div>
            
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>