{% extends "base.html" %}

{% block content %}
 
<div class="post">
       
    <h1>{{draft_detailed.title}}</h1>
</div>
{% if user.is_authenticated %}
   <a href="/post-edit/{{draft_detailed.pk}}"> <span class="material-symbols-outlined">
    edit
    </span></a>
    &nbsp;  	&nbsp; 	&nbsp; 	&nbsp;  
    <a href="/post-delete/{{draft_detailed.pk}}">
        <span class="material-symbols-outlined">
            delete
        </span>
    </a>
{% endif %}
<p> {{draft_detailed.text | linebreaks}}</p>
{% if draft_detailed.published_date %}
<div class="date">
    {{draft_detailed.published_date}}
</div>
{% else %}
<a href="" class="btn btn-primary">Publish</a>
{% endif %}

{% endblock %}