{% extends "base.html" %}

{% block content %}
 
<div class="post">
       
    <h1>{{detailed_post.title}}</h1>
</div>
{% if user.is_authenticated %}
   <a href=""> <span class="material-symbols-outlined">
    edit
    </span></a>
    &nbsp;  	&nbsp; 	&nbsp; 	&nbsp;  
  <a href="">  <span class="material-symbols-outlined">
        delete
        </span></a>
{% endif %}
<p> {{detailed_post.text | linebreaks}}</p>
{% if detailed_post.published_date %}
<div class="date">
    {{detailed_post.published_date}}
</div>
{% else %}
<a href="" class="btn btn-primary">Publish</a>
{% endif %}

{% endblock %}