<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% for post in all_posts %}
    <div class="post">
        <h1><a href="blog_detail/{{post.pk}}">{{post.title}}</a></h1>
    </div>
    <p class=""> {{post.text | truncatechars:100}} </p>
    <br>
    {% if post.published_date %}
    <div class="date">
        {{post.published_date}}
    </div>
    {% endif %}
    {% endfor %}

</body>

</html>